$danger: #f9e100;
$warning: #efd2ee;
$info: #a63aa2;
$primary: #e0d9e0;
$secondary: #e0e0e0;

$h1-font-size: 4.5rem; /* 72px */
$h2-font-size: 3rem; /* 36px */
$h4-font-size: 1.25rem; /* 20px */
$h5-font-size: 0.875rem; /* 14px */
$h6-font-size: 0.75rem; /* 12px */
